@import '../../../assets/variables.module.scss';

.block {
    display: flex;
    flex-direction: column;
    max-width: 938px;
    
    background-color: white;
    margin: 0 auto;
    margin-top: 26px;
    padding: 32px 48px 32px 48px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    max-width: 90%;
    }

.inputLabel{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: $heading-color;
    margin:0;
    margin-top: 21px;
}

.tagWrapper{
display: flex;
margin-bottom: 5px;
}

.tagDel{
    margin: 0 17px;
    max-width: 118px;
    border: 1px solid $highlight-color;
    border-radius: 4px;
background-color: transparent;
color:$highlight-color ;
padding: 0 16px;
}

.tagAdd{
    max-width: 118px;
    border: 1px solid $primary-color;
    border-radius: 4px;
background-color: transparent;
color:$primary-color;
padding: 0 16px;
display: block;
}

.buttonCreate{
    margin-top: 16px;
    border-radius: 4px;
    padding: 8px 140px;
    font-size: 16px;
font-weight: 400;
line-height: 24px;
color: white;
max-width: 320px;
background-color: $primary-color;
border: 0;
&:hover,&:focus{
    background-color:#44a3fb;
}
&:disabled{
    background-color: $customGray;
}}

.spin{
    margin-top:100px;
    display: flex;
    justify-content: center;
    }
    
