@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
@import '../../assets/variables.module.scss';

html, body{
    font-family: 'Roboto', sans-serif;
    background-color: $background;
    margin: 0;
    padding: 0;
    position: relative;
}


.alert{
position: absolute;
z-index: 3;
opacity: 85%;
margin-left: 20px;
}