.articlesPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    width: 100%;
}

.list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    gap: 26px;
    margin-top: 26px;
    width: 65%;
    @media (max-width:565px){
        width: 100%;
    }
}

.link{
    text-decoration: none;
    width: 100%;
}

.spin{
    margin-left: 50%;
    margin-top: 50%;
}

.alert{
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

