@import '../../assets/variables.module.scss';

.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    box-sizing: border-box;
}
.blogName{
    padding: 0;
    margin: 0;
    font-size: 18px;
   font-style: normal;
    font-weight: 400;
   line-height: 28px;
   text-decoration: none;
}

.leftBar{
    display: flex;
    align-items: center;
}

.create{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color:$success-color;
    border-radius: 5px;
    border: 1px solid $success-color;
    background-color: transparent;
    height: 31px;
    width: 112px;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 26px;
    &:hover, &:focus{
        border: solid 2px $primary-color;
        border-radius: 5px;
        outline: solid 2px $primary-color;
    }
}

.userName{
    margin-right: 10px;
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: $heading-color;
}

.avatar{
    margin-right: 26px;
    border-radius: 50%;
}

.logOut{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color:$text-color;
    border-radius: 5px;
    border: 1px solid $text-color;
    background-color: transparent;
    height: 51px;
    width: 109px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:focus{
        border: solid 2px $primary-color;
        border-radius: 5px;
        outline: solid 2px $primary-color;
    }

}

.signIn{
    margin-right: 20px;
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
border: 0;
background-color: transparent;
width: 84px;
height: 51px;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
&:hover, &:focus{
    border: solid 2px $primary-color;
    border-radius: 5px;
    outline: solid 1px $primary-color;
}
}


.signUp{
    font-size: 18px;
font-style: normal;     
font-weight: 400;
line-height: 28px;
color:$success-color;
border-radius: 5px;
border: 1px solid $success-color;
background-color: transparent;
height: 51px;
width: 109px;
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
&:hover, &:focus{
    border: solid 2px $primary-color;
    border-radius: 5px;
    outline: solid 2px $primary-color;
}
}

.profile{
    text-decoration: none;
    display: flex;
    align-items: center;
}